.price_plan {
    border-collapse: collapse;
    border: 24px solid #3a4965;
    width: 100%;
    height: 100%;
}

.row1 {
    background-color: #f2f2f2;
    height: 69px;
    text-align: center;
    font-family: Arial Regular, ﻿Courier,﻿AdobeInvisFont, ﻿Arimo, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color:  rgba(72, 72, 72, 255);
}
.row2 {
    background-color: #e3e3e3;
    height: 69px;
    text-align: center;
    font-family: Arial Regular, ﻿Courier,﻿AdobeInvisFont, ﻿Arimo, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color:  rgba(72, 72, 72, 255);
}
.angle {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial Regular,﻿Courier, Arimo-Bold, AdobeInvisFont, sans-serif;
    font-weight: bolder;
    color:  rgba(72, 72, 72, 255);

}
.stand, .ult, .prem {
    font-family: Arial Regular,﻿Courier,﻿Arimo-Bold,  AdobeInvisFont, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
.stand {
    background-color: #89c331;
}
.ult {
    background-color: #f04a56;
}
.prem {
    background-color: #02087c;
}
.dolar {
    float: left;
    width: 50%;
    height: 100%;
    font-family: Arial Regular, ﻿Courier,  ﻿Arimo, ﻿AdobeInvisFont, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    margin: 18px auto;
    text-align: right;
    color: #484848;
}
.cent, .time {
    float: right;
    width: 50%;
    font-family: Arial Regular, ﻿Courier, ﻿AdobeInvisFont, ﻿Arimo, sans-serif;
    color: #484848;
}
.cent {
    margin-bottom: 0px;
    margin-top: 27px;
    font-size: 24px;

}
.time {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
}
.contact_but, .buy_but {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    margin: 31px auto;
    display: table;
    font-weight: bold;
    font-family: Arial Regular,﻿Courier,﻿Arimo-Bold,  AdobeInvisFont, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.stand_but {
    background-color: #89c331;
    box-shadow: 0 -9px #79b027 inset;
}

.ult_but {
    background-color: #f04a56;
    box-shadow: 0 -9px #df3a46 inset;
}
.prem_but {
    background-color: #20807c;
    box-shadow: 0 -9px #16736f inset;
}
.contact_but {
    background-color: #484848;
    box-shadow: 0 -9px #404040 inset;
}
.botton {
    height: 112px;
}
.fa {
    font-size: 24px;
    margin-right: 12px;
    color: #848484;
}

.shadow1 {
   border-left: 4px ridge  rgba(132, 132, 132, 0.05);
   border-right: 4px ridge  rgba(132, 132, 132, 0.05);
}
.shadow2 {
    border-right: 4px ridge  rgba(132, 132, 132, 0.05);
}
